{% extends 'main.html' %}
{% load static%}

{% block content %}
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
    </head>
    <body>
        <div class="about-section">
        <h1>About Us</h1>
            <i class="fa-solid fa-handshake about-logo"></i>
            <p class = about-header>Our Purpose </p>
            <p class = about-text>&emsp;&emsp;Getting a job can be difficult, and our website is specifically designed to make the job process easier.
            Whether you are currently looking for a job or a recruiter for a company, Aggie Job Referral will allow you to easily connect with other
             Aggies and greatly enhance your career prospects.
            </p>
            <p class = about-header>Did you know? </p>
            <p class = about-text>- Statistics show 1 out of every 5 referrals get hired. </p>
            <p class = about-text>- Referrals are 5 times more likely to be hired.</p>
            <p class = about-text>- Employee referrals have the highest applicant to hire conversion rate – only 7% apply but this accounts for 40% of all hires.</p>

            <div class = about-team>
                <p class = about-header style = "text-align: center;">Our Team </p>
            <p class = about-text style = "text-align: center;">Project Managers</p>
                <p class = about-name>Wei-Chih Huang<p>
                <p class = about-name>Ethan Huynh<p>
            <p class = about-text style = "text-align: center;">Frontend Team</p>
                <p>Ethan Huynh</p>
                <p>Semion Dyadkin<p>
                <p>Zachary Gregorio<p>
                <p>Joshua Ikejiani<p>
            <p class = about-text  style = "text-align: center;">Backend Team</p>
                <p>Wei-Chih Huang</p>
                <p>Hexin Hu<p>
                <p>Abhishek Nadiger<p>
                <p>Jacob Poland<p>
            </div>

        </div>
    </body>
</html>

{% endblock %}