{% extends 'main.html' %}
{% load static%}

{% block content %}
<h1>Hello {{candidate.name}}</h1>
<div class="container card">
    <br>
    <h5>Jobs list</h5>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Company</th>
                <th>Job title</th>
                <th>Location</th>
                <th>Job id</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>{{job.company}}</td>
                <td>{{job.job_title}}</td>
                <td>{{job.location}}</td>
                <td>{{job.job_id}}</td>
                <td>
                    {% if job.status == 'new' %}
                        <a href="?jobid={{job.job_id}}" class="btn btn-primary">Apply</a>
                    {% else %}
                        <div>{{job.status}}</div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}