{% extends 'main.html' %}
{% load static%}

{% block content %}
<h1>Hello {{user.name}}</h1>
<div class="container card">
    <br>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
        </form>
    <br>
    <p>Change password <a href='{% url "changepwd" %}'>here</a></p>
    </div>
</div>

{% if info_mesg %}
<div class="alert alert-primary" role="alert">
    {{info_mesg}}
</div>
{% endif %}

{% if err_mesg %}
<div class="alert alert-warning" role="alert">
    {{err_mesg}}
</div>
{% endif %}

{% endblock %}