{% extends 'main.html' %}
{% load static%}

{% block content %}
<h1>Hello {{recruiter.name}}</h1>
<div class="container card">
    <h2>Openings posted</h2>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Job title</th>
                <th>Company</th>
                <th>Job description</th>
                <th>Status</th>
                <th>Total referrals requested</th>
                <th></th>
            </tr>
            {% for opening in openings %}
            <tr>
                <td>{{opening.job_title}}</td>
                <td>{{opening.company}}</td>
                <td>{{opening.job_description}}</td>
                <td>{{opening.status}}</td>
                <td>
                    <a href="hrapplicants/?openingid={{opening.pk}}">{{ opening.refs | length}}</a>
                </td>
                <td>
                    <a href="hrapplicants/edit?openingid={{opening.pk}}">edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<a href="{% url 'post' %}">Post a new opening</a>
<br>
<a href="{% url 'dashboard' %}">Enter dashboard</a>
{% endblock %}