{% extends 'main.html' %}
{% load static%}

{% block content %}
<h1>Hello {{recruiter.name}}</h1>
<div class="container card">
    <h2>Candidates applied</h2>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Job title</th>
                <th>Company</th>
                <th>Location</th>
                <th>Applicants</th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>{{job.job_title}}</td>
                <td>{{job.company}}</td>
                <td>{{job.location}}</td>
                <td>
                    {% for app in job.apps %}
                    {{app.name}}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<span><a class="user" href="{% url 'post' %}">Post a new job</a></span>
{% endblock %}