{% extends 'main.html' %}
{% load static%}

{% block content %}
<div class="container">
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Company Name</th>
                <th>Position</th>
                <th>Description</th>
                <th>Location</th>
                <th></th>
            </tr>
            {% for c in companies %}
            <tr>
                <td>{{c.name}}</td>
                <td>{{c.position}}</td>
                <td>{{c.description}}</td>
                <td>{{c.Location}}</td>
                <td><a href="{% url 'apply' %}" class="btn btn-primary" type="submit">Apply</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}