{% extends 'main.html' %}
{% load static%}

{% block content %}
<h1>Login</h1>
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username..."></p>
        <p><input type="password" name="password" placeholder="Password..."></p>
        <input class="btn btn-success" type="submit" value="Login">
        <p>Don't have an account? Register <a href='{% url "registercandidate" %}'>here</a> for seeking jobs,
            and <a href='{% url "registerrecruiter" %}'>here</a> for recruiters</p>
    </form>
</div>
Forget password? Click <a href='{% url "password_reset" %}'>here</a> to reset the password
{% endblock %}