<nav class="bg-dark navbar navbar-expand">
    <a href="{% url 'home' %}">HOME</a>
    <div class="navbar-collapse"></div>

    {% if request.user.is_authenticated %}
    <span class="user">Hello, {{request.user}} &nbsp;</span>
    <span><a class="user" href="{% url 'logout' %}"> Logout</a></span>
    {% else %}
    <span><a class="user" href="{% url 'login' %}">Login</a></span>
    <p>&nbsp;&nbsp;</p>
    <span><a class="user" href="{% url 'register' %}">Recruiter Register</a></span>
    <p>&nbsp;&nbsp;</p>
    <span><a class="user" href="{% url 'registercandidate' %}">Candidate Register</a></span>
    {% endif %}
</nav>