{% extends 'main.html' %}
{% load static%}

{% block content %}
<h1>{{role}} registration</h1>
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-success" type="submit" value="Register">
        <p>Already have an account? Login <a href='{% url "login" %}'>here</a></p>
    </form>
</div>
{% if err_mesg %}
<div class="alert alert-warning" role="alert">
    {{err_mesg}}
</div>
{% endif %}

{% endblock %}